<%include partials/head.ejs%>
<%include partials/navbar.ejs%>

<body>
<div class="indexClass">
  <p>Welcome to <%title%></p>
  <a href="/register"><button class="btn btn-primary"> Register now!</button></a>


</div>
</body>

