<%include partials/head.ejs%>
<%include partials/navbar.ejs%>
<body>
<% if(!user) {%>
    <script>$(location).attr('href', '/login')</script>
<%}%>
<div class="mainMenu">
    <%if(user){%>
        <h4 style="margin-left: 2%;">Hi <%= user.name%>!
            <a href="/profile/edit"><button style="margin-left: 2%;" class="btn btn-primary">Edit User</button> </a></h4>
<%}%>

    <%if(testsTaken.length >0){%>
        <h4 style="margin-top: 2%; margin-left: 2%;">Tests Results</h4>
        <table style="width: 70%; margin-left: 2%; font-size: 24px;">
        <tbody >
            <th style="background-color:#d2dcd2;">Test</th>
            <th style="background-color:#d2dcd2;">Score</th>
            <%testsTaken.forEach(test=>{%>
            <tr>

                    <td><%=test.moduleName%></td>
                    <td><%=test.precentageObtained%></td>

            </tr>
            <%})%>

        </tbody>
        </table>
    <%}else{%>
        <h4>No test have been taken yet!</h4>
    <%}%>
</div>
</body>