body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.indexClass,
.login-form {
  width: 20%;
  margin: 0 auto;
  padding: 2%;
  border: #535b63 solid 1px;
  border-radius: 25px;
  font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}
.login-form input[type='email'],
.login-form input[type="password"],
.login-form input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing:border-box;
}
.submitButton{
  text-align: center;
  margin-left: 32%;
  margin-right: 32%;
}
