body {
  padding: 50px;
  font-family: 'Montserrat'!important;
  font-size: 15px;
}

a {
  color: #2c2f2f;
}
.navi{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  height: 50px;

}
.navbar-brand{
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.mainMenu{
  padding: 3%;
}
.bg-custom{
  background-color: #6cc24a;
}

.navbari{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.indexClass,
.login-form {
  width: 30%;
  margin: 0 auto;
  padding: 2%;
  /*border: #535b63 solid 1px;*/
  border-radius: 10px;
  /*font-family: Tahoma, Geneva, sans-serif;*/
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

}
.login-form h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}
.login-form input[type='email'],
.login-form input[type="password"],
.login-form input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing:border-box;
}
.registerButton{
  margin-left: 23%;
  margin-right: 27%;
}
.submitButton{
  /*text-align: center;*/
  align-content: center;
  margin-left: 34%;
  margin-right: 32%;
}
.editorDiv{
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

}
.successInner{
  margin-left: 10%;
  margin-right: 10%;
}
